<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Province</title>
</head>
<body>
<a href="/create-province"> Create new Province</a>
<h1>Provinces</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <tr th:each="province : ${provinces}">
        <td th:text="${province.name}"></td>
        <td><a th:href="@{/edit-province/{id}(id=${province.id})}"> Edit </a></td>
        <td><a th:href="@{/delete-province/{id}(id=${province.id})}"> Delete </a></td>
        <td><a th:href="@{/view-province/{id}(id=${province.id})}"> View </a></td>
    </tr>
</table>
</body>
</html>